.toto-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid currentColor;
    border-radius: 24px;
    color: var(--color-accent);
    padding: 10px 12px;
    font-size: medium;
}
.toto-button.secondary {
    color: var(--color-light-primary);
}

.toto-button.s {
    padding: 7px 12px;
    font-size: small;
}

.toto-button .label {
    text-align: center;
    text-transform: capitalize;
}