.toto-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9f99d;
    border-radius: 50%;
    color: #d9f99d;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
}

.toto-icon-button svg {
    fill: currentColor;
    width: 14px;
    height: auto;
}

.toto-icon-button img {
    width: 14px !important;
    height: 14px !important;
}